<div class="container">
    <div class="row mb-5">
        <div class="col-md-5">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="bucket_name">Bucket Name</label>
                      <input class="form-control" [(ngModel)]="bucket_name" type="text" maxlength="45" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="bucket_vol">Bucket Volume</label>
                      <input class="form-control" [(ngModel)]="bucket_vol" type="number" step="any" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-row">
                    {{ bucket_msg }}
                    </div>
                <div class="form-group row mt-4">
                  <div class="col-sm-10">
                    <button (click)="bucketSaveData()" class="btn btn-primary">Save</button>
                  </div>
                </div>
        </div>
        <div class="col-md-5">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="bucket_name">Ball Name</label>
                      <input class="form-control" [(ngModel)]="ball_name" type="text" maxlength="45" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="bucket_vol">Ball Volume</label>
                      <input class="form-control" [(ngModel)]="ball_vol" type="number" step="any" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-row">
                    {{ ball_msg }}
                    </div>

                <div class="form-group row mt-4">
                  <div class="col-sm-10">
                    <button (click)="ballSaveData()"class="btn btn-primary">Save</button>
                  </div>
                </div>
        </div>

        <div class="col-md-2">
            <div class="d-flex">
              <div class="form-group">
                    <select class="form-select mb-3" [(ngModel)]="ball_select">
                        <option *ngFor="let option of options" [value]="option.id">{{ option.name }} Ball</option>
                      </select>

                </div>
            <div class="form-group">
            <div class="input-group">
                        <span class="input-group-btn">
                            <button (click)="ballDelete()" type="button" class="btn btn-danger">Delete</button>
                        </span>
                    </div>
            </div>
        </div>


        <div class="d-flex">
            <div class="form-group">
                  <select class="form-select mb-3" [(ngModel)]="bucket_select">
                      <option *ngFor="let bucket of buckets_list" [value]="bucket.id">{{ bucket.name }} Bucket</option>
                    </select>

              </div>
          <div class="form-group">
          <div class="input-group">
                      <span class="input-group-btn">
                          <button  (click)="bucketDelete()"  type="button" class="btn btn-danger">Delete</button>
                      </span>
                  </div>
          </div>
      </div>




        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-3">
            Bucket Suggestion <br/>
            <form  (ngSubmit)="checkBuckets()">
                <div class="input-group input-group-sm mb-2" *ngFor="let option of options">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{ option.name }} balls</span>
                    </div>
                    <input class="form-control smaller-input" value="0" name="quantity{{option.name}}" [(ngModel)]="option.quantity" type="text" maxlength="45" [ngModelOptions]="{standalone: true}">
                  </div>


            <div class="form-group row mt-4">
              <div class="col-sm-10">
                <button type="submit"  class="btn btn-primary">Place balls in bucket</button>
              </div>
            </div>
        </form>
            </div>
            <div class="col-md-9">
                Following are the suggested buckets<br/>

                <span *ngFor="let item of output_buckets | keyvalue" >
                    <div *ngIf="item.key">
                    <br/><b>Bucket  {{ item.key }} </b>: Place
                    <span *ngFor="let ball of item.value.balls; let i = index">{{ ball.name }} {{ ball.quantity }} balls
                        <ng-container *ngIf="i < item.value.balls.length - 2">, </ng-container>
                        <ng-container *ngIf="i === item.value.balls.length - 2"> and </ng-container> </span>
                </div>
                </span>
                <br/>
                <div *ngIf="extraBalls.length>0">
                Extra Balls:
                <span *ngFor="let extra of extraBalls; let i = index">
                    {{ extra.name }} {{ extra.quantity }} balls
                    <ng-container *ngIf="i < extraBalls.length - 2">, </ng-container>
                    <ng-container *ngIf="i === extraBalls.length - 2"> and </ng-container>
                    </span> cannot be accommodated in any bucket since there is no available space.
                </div>

                </div>

     </div>


</div>
